target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
genny-rules-git.properties
src/main/resources/genny-verticle-git.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.classpath
.project
.settings
.factorypath
/.apt_generated/
/.apt_generated_tests/
