<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="log4j.test.Log4jTest" level="error">
        <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
        <AppenderRef ref="Console"/>
    </Root>
    	<logger name="org.hibernate.jpa.boot" level="OFF" />
    	<logger name="org.hibernate.spatial.integration.SpatialService" level="OFF" />
    	<logger name="org.hibernate.dialect.Dialect" level="OFF" />
    	<logger name="org.hibernate.envers.boot.internal.EnversServiceImpl" level="OFF" />
    	<logger name="org.hibernate.orm.beans" level="OFF" />
    	<logger name="org.hibernate.engine.transaction.jta.platform.internal.JtaPlatformInitiator" level="OFF" />
</Loggers>
</Configuration>